.mt-0 {
    margin-top: 0px;
}

.mt-1 {
    margin-top: 10px;
}

.mt-2 {
    margin-top: 20px;
}

.mt-3 {
    margin-top: 30px;
}

.mt-4 {
    margin-top: 40px;
}

.mt-5 {
    margin-top: 50px;
}

.mb-1 {
    margin-bottom: 10px;
}

.mb-2 {
    margin-bottom: 20px;
}

.mb-3 {
    margin-bottom: 30px;
}

.mb-4 {
    margin-bottom: 40px;
}

.mb-5 {
    margin-bottom: 50px;
}

.mb-bottom {
    margin-bottom: 80px;
}

.ml-1 {
    margin-left: 10px;
}

.ml-2 {
    margin-left: 20px;
}

.ml-3 {
    margin-left: 30px;
}

.ml-4 {
    margin-left: 40px;
}

.ml-5 {
    margin-left: 50px;
}

.mr-1 {
    margin-right: 10px;
}

.mr-2 {
    margin-right: 20px;
}

.mr-3 {
    margin-right: 30px;
}

.mr-4 {
    margin-right: 40px;
}

.mr-5 {
    margin-right: 50px;
}

/* Custom CSS */
.secondary-text {
    color: #ee6e73;
}

.custom-place {
    float: none !important;
    margin: 0 !important;
}

#msg {
    transform: translateY(10%) !important;
}

.waves-effect.waves-red .waves-ripple {
    background-color: #ee6e7291;
}

nav .brand-logo {
    font-size: 1.5rem !important;
}

.my-none {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.mx-none {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.my-little {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.btn-block {
    width: 100%;
}

.inline {
    display: inline;
}

[type=radio]:not(:checked)+span,
[type=radio]:checked+span {
    padding-right: 10px;
    padding-left: 22px;
}


/* Blue Radio */
[type=radio]:checked+span.blue-radio:after,
[type=radio].with-gap:checked+span.blue-radio:after {
    background-color: #4f84ec;
}

[type=radio]:checked+span.blue-radio:after,
[type=radio].with-gap:checked+span.blue-radio:before,
[type=radio].with-gap:checked+span.blue-radio:after {
    border: 2px solid #4f84ec;
}

/* Yellow Radio */
[type=radio]:checked+span.yellow-radio:after,
[type=radio].with-gap:checked+span.yellow-radio:after {
    background-color: #fcbf3d;
}

[type=radio]:checked+span.yellow-radio:after,
[type=radio].with-gap:checked+span.yellow-radio:before,
[type=radio].with-gap:checked+span.yellow-radio:after {
    border: 2px solid #fcbf3d;
}

/* Green Radio */
[type=radio]:checked+span.green-radio:after,
[type=radio].with-gap:checked+span.green-radio:after {
    background-color: #7acc5d;
}

[type=radio]:checked+span.green-radio:after,
[type=radio].with-gap:checked+span.green-radio:before,
[type=radio].with-gap:checked+span.green-radio:after {
    border: 2px solid #7acc5d;
}

/* Gray Radio */
[type=radio]:checked+span.gray-radio:after,
[type=radio].with-gap:checked+span.gray-radio:after {
    background-color: #969696;
}

[type=radio]:checked+span.gray-radio:after,
[type=radio].with-gap:checked+span.gray-radio:before,
[type=radio].with-gap:checked+span.gray-radio:after {
    border: 2px solid #969696;
}
