.min-vh-80 {
    min-height: 80vh;
}

.min-vh-20 {
    min-height: 20vh;
}


.bg-wave-head {
    background-image: url("/svg/image1.svg");
    background-size: 75vh;
    background-repeat: no-repeat;
}

.fix-bt {
    position: fixed;
    bottom: 0;
    right: 0;
}

.blue-btn {
    border-radius: 10px !important;
    color: black;
    background-color: #5c6bc0;
    border-color: #5c6bc0;
}

.yellow-btn {
    border-radius: 10px !important;
    color: black;
    background-color: #ffca28;
    border-color: #ffca28;
}

.green-btn {
    border-radius: 10px !important;
    color: black;
    background-color: #26a69a;
    border-color: #26a69a;
}

.red-btn {
    border-radius: 10px !important;
    color: black;
    background-color: #ee6e73;
    border-color: #ee6e73;
}
